
div.slide.titlepage h1 {
    padding-top: 20%;
    font-size: 200%;
    }

.note {
    display: block;
    page-break-before: avoid;
    }

.note+ul, .note+p {
    display: block;
    /* display: none; */
    /* when printing handout,
       change display attribute to none;
       */
    }

div.level1 h1 {
    padding-top: 15%;
    margin: 0 0 0.5em 0;
    text-align: center;
    }

div.slide.level2 h1 {
    border-bottom: 1px black groove;
    color: #000;
    }

div.figure {
    display: none;
    }

li {
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    line-height: 100%;
    }

div#参考资料 p {
    margin: 0.4em 1em 0.4em 1em;
    }