div.slide.titlepage h1 {
    padding-top: 20%;
    font-size: 200%;
    }

.note, .note+ul {
    display: none;
    }

div.level1 h1 {
    padding-top: 15%;
    margin: 0 0 0.5em 0;
    text-align: center;
    }

div.slide.level2 h1 {
    border-bottom: 1px blue groove;
    color: #111199;
    }

div.figure {
    float: right;
    max-width: 50%;
    max-height: 85%;
    top: 60px;
    right: 0;
    position: absolute;
    }

div#聚氨酯泡沫行业 li {
    margin-bottom: 0.2em;
    line-height: 100%;
    }

div#工商制冷空调行业 li {
    margin-bottom: 0.2em;
    line-height: 100%;
    }